<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
<h2>商品詳細</h2>
<!-- image -->
<%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>

<h4>商品名</h4>
<p><%= @item.name %></p>

<h4>商品説明</h4>
<p><%= @item.introduction %></p>

<h4>ジャンル</h4>
<p><%= @item.genre_id %>

<h4>税込価格(税抜価格)</h4>
<p><%= @item.price * 1.1 %>

<h4>販売ステータス</h4>
<!-- btn -->
<%= link_to "編集する", edit_admin_item_path(@item.id),class: "btn-sm btn-success" %>

  </div>
  </div>
</div
