<div class="container">
  <div class="row">
	<div class="col-md-6 col-md-offset-3">
	<h3><%= @customer.last_name %><%= @customer.first_name %> さんの会員情報編集</h3>
	<P></P>
	<h4>会員ID</h4>
    <%= @customer.id %>
    <!-- form_for部分 -->
    <%= form_for(@customer, url:admin_end_user_path) do |f| %>

    <h4>氏名</h4>
    <%= f.text_field :last_name %><%= f.text_field :first_name %>

    <h4>フリガナ</h4>
    <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>

    <h4>郵便番号</h4>
    <%= f.text_area :postal_code %>

    <h4>住所</h4>
    <%= f.text_field :address %>

    <h4>電話番号</h4>
    <%= f.text_field :telephone_number %>

    <h4>メールアドレス</h4>
    <%= f.number_field :email %>

    <h4>会員ステータス</h4>
    <label>
　  <%= f.radio_button :is_active, true %> 有効 </label>
　  <label><%= f.radio_button :is_active, false %> 退会 </label>
<!-- btn -->
    <button type="submit" class="btn-sm btn-success col-xs-12">変更を保存</button>
	<% end %>
    </div>
  </div>
</div>

