<div class="container">
  <div class="row">
  	<h4>注文情報確認</h4>
    <table class="table table-bordered">
	<thead>
    <tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @cart_items.each do |cart_item| %>
			<th><%= cart_item.item.name %></th>
			<td><%= cart_item.item.price %></td>
			<td><%= cart_item.amount %></td>
			<td><%= ((cart_item.item.price * cart_item.amount * 1.08).round(2)).ceil %></td>
			<% end %>
		</tr>
	 </tbody>
     </table>
     <table class="table table-bordered">
           <tr>
             <th>送料</th>
             <td><%= 800 %></td>
           </tr>
           <tr>
             <th>商品合計</th>
             <td><%= ((@total_price * 1.08).round(2)).ceil %></td>
           </tr>
           <tr>
             <th>請求金額</th>
             <td><%= ((@total_price * 1.08).round(2)).ceil + 800 %></td>
           </tr>
      </table>
   <%= form_with model: @order, url:public_orders_path, local: true do |f| %>
     <h4>支払い方法</h4> <%= @order.payment_method %>
     <h4>お届け先</h4>   <%= @order.postal_code %><%= @order.address %>
                        <P><%= @order.name %></P>
   <%= f.submit "注文を確定する", class: "btn-sm btn-success" %>
   <% end %>
  </div>
</div>