<div class="container">
  <div class="row">
  	<h4>注文情報確認</h4>
    <table class="table table-bordered">
	<thead>
    <tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @cart_items.each do |cart_item| %>
			<th><%= cart_item.item.name %></th>
			<td><%= ((cart_item.item.price * 1.08).round(2)).ceil %></td>
			<td><%= cart_item.amount %></td>
			<td><%= ((cart_item.item.price * cart_item.amount * 1.08).round(2)).ceil %></td>
			<% end %>
		</tr>
	 </tbody>
     </table>
     <table class="table table-bordered">
           <tr>
             <th>送料</th>
             <td><%= @order.shipping_cost %></td>
           </tr>
           <tr>
             <th>商品合計</th>
             <td><%= ((@order.total_payment * 1.08).round(2)).ceil %></td>
           </tr>
           <tr>
             <th>請求金額</th>
             <!-- 再代入式 @order.total_payment -->
             <td><%= @order.total_payment = ((@order.total_payment * 1.08).round(2)).ceil + @order.shipping_cost %></td>
           </tr>
      </table>
   <%= form_with model: @order, url:public_orders_path, local: true do |f| %>
     <%= f.hidden_field :payment_method, :value => @order.payment_method %>
     <%= f.hidden_field :postal_code, :value => @order.postal_code %>
     <%= f.hidden_field :address, :value => @order.address %>
     <%= f.hidden_field :name, :value => @order.name %>
     <%= f.hidden_field :total_payment, :value => @order.total_payment %>
     <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
     <%= f.hidden_field :status, :value => @order.status %>
     <%= f.hidden_field :created_at, :value => @order.created_at %>
     <h4>支払い方法</h4> <%= @order.payment_method %>
     <h4>お届け先</h4>〒<%= @order.postal_code %><%= @order.address %>
                        <P><%= @order.name %></P>
   <%= f.submit "注文を確定する", class: "btn-sm btn-success" %>
   <% end %>
  </div>
</div>