<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <nav class="nav navbar-nav navbar-left">
    <span class="navbar-brand">
        LOGO
      </span>
    </div>

    <div class="collapse navbar-collapse" id="navbarEexample7">
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
        <!-- admin -->
        <li class="">
        <%= link_to "商品一覧", admin_items_path %>
        </li>
        <li class="">
        <%= link_to "会員一覧", admin_end_users_path %>
        </li>
        <li class="">
        <%= link_to "注文履歴一覧", public_root_path %>
        </li>
        <li class="">
        <%= link_to "ジャンル一覧", admin_genres_path %>
        </li>
        <li class="">
        <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
        </li>
        <% elsif customer_signed_in? %>
        <li class="">
        <!-- customer -->
        <%= link_to 'マイページ', public_customers_mypage_path %>
        </li>
        <li class="">
        <%= link_to '商品一覧' , public_items_path %>
        </li>
        <li class="">
        <%= link_to 'カート', public_cart_items_path %>
        </li>
        <li class="">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        <% else %>
        <li class="">
        <%= link_to 'About', public_about_path %>
        </li>
        <li class="">
        <%= link_to '商品一覧' , public_items_path %>
        </li>
        <li class="">
        <%= link_to '新規登録', new_customer_registration_path %>
        </li>
        <li class="">
        <%= link_to "ログイン", new_customer_session_path %>
        </li>
        <% end %>
      </ul>
    </div>
    </div>
    </nav>

    <%= yield %>
  </body>
</html>
